body {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


body .display {
  position: relative;
  flex-direction: column;
  font-size: 0.9em;
  height: 100vh;
  background: #fff;
  margin: 8px 18px 13px 13px;
}

  .display::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -8px -18px -13px -13px;
    background: linear-gradient(#f0b289, #976340, #693919);    
}

.img_hold, .img_roll_dice, .img_new_game {
  vertical-align: top;
}

.new_game {
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.display, .players, .global_score, .round_score {
  display: flex;
  justify-content: space-evenly;
}

.players {
  height: 20vh; 
}

#dice{
  width: 20%;
  width: 55px;
  line-height: 20vh;
}

.title_player {
  width: 30vw;
  display: flex;
  justify-content: center;
}
#player1 {
  margin-right: 5%;
}

#player2 {
  margin-left: 5%;
}

.point {
  font-size: 100px;
  color: red;
}

.hand{
  width: 15px;
  height: 100%;
}

#winner, #begin {
  height: 10vh;
  line-height: 1.6em;
  text-align: center;
  color: red;
}

.round_score {
  height: 20vh; 
  text-align: center;
}

.current_score>div {
  background-color: rgba(255, 0, 0, .6);
}

.current_score_player {
  color: white;
  padding: 4px;
}

.global_score, .current_score_player {
  font-size: 2em;
  font-weight: 200;
}

.global_score {
  color: red;
  font-size: 4em;
}

.actions .btn {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 0;
  margin: -10px 0;
}

.hold {
  margin-top: 20px;
}

.title_current_score {
  font-size: 0.7rem;
  padding: 5px;
}

.new_game, .roll_dice, .hold {
  cursor: pointer;
}

#dice {
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

@media screen and (min-width : 768px){
  body .display {  
    height: 90vh;
    margin-top : 30px;
  }   

  body {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}